.banner {
    @include flex(center);

    .content {
        flex: 1 1 41rem;

        span {
            font-size: 2.5rem;
            color    : var(--red);
        }

        h3 {
            @include title(4rem);
            padding-top: 1rem;
        }

        p {
            @include paragraphText(1.7rem);
            padding: 1rem 0;
        }

    }

    .image {
        flex: 1 1 41rem;

        img {
            width: 100%;
        }
    }
}