@media screen and (max-width: 1200px) {
    body.active {
        padding-left: 0;
    }

    header.active {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
        z-index   : 3;
    }

    .products {
        z-index: 1;
    }

    .product-preview-container {
        z-index: 2;
    }
}

@media screen and (max-width: 991px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .contact-info {
        text-align: center;
    }

}

@media screen and (max-width: 550px) {
    html {
        font-size: 50%;
    }

    .banner .content h3 {
        font-size: 3rem;
    }

    .products .slide img {
        height: 22rem;
    }
}