@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* 4 Jan 2022 */

:root {
    --red       : #ed2d34;
    --black     : #444;
    --white     : #FFF;
    --lightColor: #666;
    --border    : .2rem solid var(--black);
}

* {
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : none;
    list-style     : none;
    user-select    : none;
    text-decoration: none;
    box-sizing     : border-box;
    transition     : all .1s linear;
    font-family    : 'Nunito', sans-serif;
}

@import 'mixing';

html {
    // root front size
    font-size         : 62.5%;
    overflow-x        : hidden;
    scroll-behavior   : smooth;
    scroll-padding-top: 6rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--red);
    }
}

body {
    background           : url(../img/bg.jpg) no-repeat;
    background-size      : cover;
    background-position  : center;
    background-attachment: fixed;
    padding-left         : 0;

    &.active {
        padding-left: 30rem;
    }
}

section {
    padding: 5rem 9%;
}

.heading {
    @include title(4rem);
    text-align   : center;
    margin-bottom: 3rem;

    span {
        color: var(--red);
    }
}

.btn {
    margin-top    : 1rem;
    display       : inline-block;
    border-radius : 5rem;
    padding       : 1.2rem 3rem;
    border        : var(--border);
    cursor        : pointer;
    background    : none;
    color         : var(--black);
    font-size     : 2rem;
    text-transform: capitalize;

    &:hover {
        background  : var(--red);
        border-color: var(--red);
        color       : var(--white);
    }
}

.swiper-pagination-bullet {
    background-color: var(--red);
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--red);
}


@import 'header';
@import 'banner';
@import 'products';
@import 'product-preview-container';
@import 'service';
@import 'reviews';
@import 'contact';
@import 'responsiveness';